@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer base {
  :root {
    --background: 210 20% 98%; /* silk-gray */
    --foreground: 222 31% 25%;

    --card: 0 0% 100%;
    --card-foreground: 222 31% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 31% 18%;

    --primary: 222 31% 18%; /* #1E293B */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215 14% 47%; /* slate: #64748B */

    --accent: 158 84% 40%; /* #10B981 */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 20% 85%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222 31% 18%;
  }

  .dark {
    --background: 220 52% 11%; /* #0F172A */
    --foreground: 210 40% 98%;

    --card: 222 31% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 220 52% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 31% 18%;

    --secondary: 222 31% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 222 31% 18%;
    --muted-foreground: 215 14% 47%;

    --accent: 158 84% 40%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700;
    border-radius: 10px;
}
